body {
  font-family: segoe ui;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
h1 {
  background-color: #ff6600;
  font-family: segoe ui;
  padding: 20px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  margin: 0px;
}
h2 {
  font-size: 18px;
  text-align: center;
}
p {

  font-family: segoe ui;
  font-size: 18px;
  margin: 0 auto;
  padding-left: 10px;
  text-align: justify;
  text-transform: capitalize;
  }
#error {
  color: #fc0;
  font-family: Comic Sans MS;
  font-size: 54px;
  padding: 5px;
  text-shadow: 0 1px #000;
}
#noDisp {
  font-size: 25px;
  height: 66px;
  line-height: 61px;
  margin: 10px auto;
  text-align: center;
  text-shadow: 0 1px 2px #fc0;
  width: 960px;
}
#error {
  border: 2px solid #fc0;
  border-radius: 101px;
  box-shadow: 0 1px 2px #000;
  color: #fc0;
  float: left;
  font-family: Comic Sans MS;
  font-size: 54px;
  height: 60px;
  line-height: 54px;
  padding: 0;
  text-align: center;
  text-shadow: 0 1px #000;
  width: 60px;
}
#plataforma {
  background-color: #653987;
  color: #fff;
  padding: 70px;
  width: 100%;
}
#tipoAplicativo {
  background-color: #f60;
  padding: 70px;
  width: 100%;
}
#lenguajes {
  background-color: #a78;
  padding: 70px;
}
#basesDatos {
  background-color: #fc0;
  padding: 70px;
  width: 100%;
}
#alojamiento {
  background-color: #840;
  padding: 70px;
  width: 100%;
}
#contenedor {
  background-color: #efefef;
  height: 80px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}
ul {
  padding: 0px;
  margin: 0px;
}
#contenedor ul li {
  border: 1px solid #f3f3f3;
  float: left;
  list-style: none outside none;
  width: 334px;
}
.button {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background-color: #8fe802;
border-color: #548702;
border-image: none;
border-style: none none solid;
border-width: 0 0 3px;
color: #fff;
font-family: segoe ui;
font-size: 17px;
height: 50px;
left: 400px;
margin: 0 auto;
text-align:center;
}
.button a{
text-decoration:none;
color:#fff;
}
#ctrBtn{
width:150px;
margin:0px auto;
}